CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
generated
io_load
tracy
build/
build_*/
benchmark
sequence_test
*.o
*.so
*.out
*.exe
DS_Store
.DS_Store
.idea
.vscode
__pycache__
benchmark_results
liblua.a
lua
luac
*.data